* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://files.adventistas.org/v2.adra.org.br/2024/05/14173844/BRO08431-1024x576.jpg'); /* Define a imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
}

.container {
    max-width: 400px;
    margin: 120px 0 0px 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header img {
    width: 50px;
    height: auto;
}

.list {
    list-style-type: none;
    margin: 20px 0;
}

.list li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.image-section {
    text-align: center;
    margin-top: 20px;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
}

.image-section p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}
