/* Reseta margens e padding padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://files.adventistas.org/v2.adra.org.br/2021/10/14162546/bg-about.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    border-radius: 20px;
    width: 375px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 300px; /* Ajuste o valor para mover mais ou menos à direita */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-superior {
    width: 50px;
    height: 50px;
}

.back-button img {
    width: 24px;
    height: 24px;
}

.content {
    text-align: center;
    margin-top: 20px;
}

.logo-adra {
    width: 150px;
    height: auto;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    background-color: #e0e0e0;
    color: #333;
    padding: 15px;
    border: none;
    border-radius: 30px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d4d4d4;
}
